@tailwind base;
@tailwind components;
@tailwind utilities;
 @font-face {
    font-family:fonty ;
    src: url(src/assets/Kanit/Kanit-Regular.ttf);
  }
  * {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
 font-family: fonty;
 
 
}
html,body {
  width: 100%;
  height: 100%;
}
